<% brand = image_pack_tag("media/images/logo.svg", size: "132x30", alt: "Chatroom Logo") %>

<nav class="nav topbar">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to brand, '/', class: 'navbar-brand' %>
    <%= render 'layouts/bars/session' %>
  </div>
</nav>
