.sidebar {
  background-color: darken(theme-color("app-secondary"), 3%);
  border-left: 1px solid theme-color("app-dark");
  border-right: 1px solid theme-color("app-dark");
  transition: width 0.25s;

  .bar-toggler {
    position: absolute;
    top: 100px;
    width: 20px;
    height: 20px;
    color: theme-color("app-dark");
    background-color: theme-color("app-primary");
    border: 2px solid theme-color("app-dark");
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      background-color: theme-color("app-highlight");
    }
  }
}

.channels-bar {
  width: 300px;
  .bar-toggler {
    right: -10px;
  }
  .channels-bar-inner {
    min-width: 300px;
    height: 100%;
  }

  &.collapsed .channels-bar-inner {
    display: none;
  }
}

.members-bar {
  width: 220px;
  .bar-toggler {
    left: -10px;
  }
  .members-bar-inner {
    min-width: 220px;
    height: 100%;
  }

  &.collapsed .members-bar-inner {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .sidebar {
    position: absolute;
    height: 100%;
    z-index: 999;

    .bar-toggler {
      .expand-icon {
        display: none;
      }
      .collapse-icon {
        display: initial;
      }
    }
  }

  .sidebar.collapsed {
    width: 0;
    border: none;
    .bar-toggler {
      display: none !important;
    }
  }

  .members-bar {
    right: 0;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar {
    .bar-toggler {
      .expand-icon {
        display: none;
      }
      .collapse-icon {
        display: initial;
      }
    }
  }

  .sidebar.collapsed {
    width: 15px;

    .expand-icon {
      display: initial;
    }
    .collapse-icon {
      display: none;
    }
  }
}
