<% content_for :assets do %>
  <%= javascript_pack_tag 'chat/index', 'data-turbolinks-track': 'reload' %>
<% end %>

<div>
  <div>
    Sample Message 1
  </div>
  <div>
    Sample Message 2
  </div>
  <div>
    Sample Message 3
  </div>
</div>
