/*
 * SPACING
 */

$spacer: 1rem;
$spacers: (
  6: ($spacer * 5),
  7: ($spacer * 7),
  8: ($spacer * 10)
);

/*
 * COLORS
 */

$tyrian-purple: #4f003be3;
$cadillac: #824172de;
$shadow: rgba(0,0,0,.2);
$black-pearl: #0B0C10;
$midnight-express: #1F2833;
$blue-chill: #45A29E;
$baby-blue: #66FCF1;
$iron: #C5C6C7;
$solitude: #F8F9FA;

// Add colors to bootstrap theme-colors
$theme-colors: (
  "app-primary": $blue-chill,
  "app-secondary": $midnight-express,
  "app-highlight": $baby-blue,
  "app-dark": $black-pearl,
  "app-light": $solitude,
  "app-plain": $iron,
  "app-shadow": $shadow
);

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

/*
 * ELEMENT DIMENSIONS
 */

$dimensions: (
  "input-height": calc(1.5em + 0.75rem + 2px),
  "input-padding-y": 0.375rem,
  "input-padding-x": 0.75rem,
  "input-border-radius": 0.25rem
);

@function dimension($key) {
  @return map-get($dimensions, $key);
}

/*
 * FONTS
 */

@font-face {
  font-family: 'Signika';
  src: url('../fonts/Signika-VariableFont_wght.ttf');
}
