.channels-bar {
  width: 220px;
  background-color: darken(theme-color("app-secondary"), 3%);
  border-right: 1px solid theme-color("app-dark");
  transition: width 0.25s;
}

@include media-breakpoint-down(xs) {
  .channels-bar {
    position: absolute;
    height: 100%;
    z-index: 999;
    &.collapsed {
      width: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .channels-bar {
    &.collapsed {
      width: 15px;
    }
  }
}
