.channels-bar {
  width: 220px;
  background-color: darken(theme-color("app-secondary"), 3%);
  border-right: 1px solid theme-color("app-dark");
  &.hide {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .channels-bar {
    display: none;
  }
}
