.members-bar {
  width: 250px;
  background-color: darken(theme-color("app-secondary"), 3%);
  border-left: 1px solid theme-color("app-dark");
  transition: width 0.25s;
}

@include media-breakpoint-down(xs) {
  .members-bar {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 998;
    &.collapsed {
      width: 0px;
    }
  }
}

@include media-breakpoint-up(sm) {
  .members-bar {
    &.collapsed {
      width: 15px;
    }
  }
}
