.members-bar {
  width: 250px;
  background-color: darken(theme-color("app-secondary"), 3%);
  border-left: 1px solid theme-color("app-dark");
  transition: width 0.25s;

  .bar-toggler {
    position: absolute;
    top: 100px;
    left: -10px;
    width: 20px;
    height: 20px;
    color: theme-color("app-dark");
    background-color: theme-color("app-primary");
    border: 2px solid theme-color("app-dark");
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      background-color: theme-color("app-highlight");
    }
  }
}

@include media-breakpoint-down(xs) {
  .members-bar {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 998;

    .bar-toggler {
      .expand-icon {
        display: none;
      }

      .collapse-icon {
        display: initial;
      }
    }
  }

  .members-bar.collapsed {
    width: 0px;

    .bar-toggler {
      display: none !important;
    }
  }
}

@include media-breakpoint-up(sm) {
  .members-bar {
    .bar-toggler {
      .expand-icon {
        display: none;
      }
      .collapse-icon {
        display: initial;
      }
    }
  }

  .members-bar.collapsed {
    width: 15px;

    .expand-icon {
      display: initial;
    }
    .collapse-icon {
      display: none;
    }
  }
}
