.members-bar {
  width: 250px;
  background-color: darken(theme-color("app-secondary"), 3%);
  border-left: 1px solid theme-color("app-dark");
}

@include media-breakpoint-down(sm) {
  .members-bar {
    display: none;
  }
}
