body > .navbar {
  padding: 0.5rem;
  background-color: theme-color("app-dark");

  #navbar-collapsible > .navbar-nav > .session {
    position: relative;
    display: flex;

    .navbar-user-links {
      display: flex;

      .nav-link-alt {
        width: 130px;
        height: 40px;
        margin: 3px 8px;
        padding: 0.3rem 0;;
        border-radius: 15px;
        color: theme-color("app-plain");
        background-color: theme-color("app-secondary");
        border: 2px solid theme-color("app-primary");
        text-align: center;
        font-weight: 600;
        color: theme-color("app-light");
        &:hover {
          background-color: theme-color("app-primary");
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .container {
    max-width: 100%;

    .navbar-toggler {
      padding: 0.25rem 0.5rem;
      border: 2px solid theme-color("app-primary") !important;
      color: theme-color("app-primary") !important;
      &:hover {
        color: theme-color("app-dark") !important;
        background-color: theme-color("app-highlight") !important;
        border-color: theme-color("app-highlight") !important;
      }
    }
  }

  #navbar-collapsible {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: theme-color("app-dark");
    overflow-y: auto;
    &.collapsing {
      left: -100%;
      -webkit-transition: left 0.2s ease;
      -moz-transition: left 0.2s ease;
      -o-transition: left 0.2s ease;
      transition: left 0.2s ease;
    }
    &.show {
      left: 0;
      -webkit-transition: left 0.2s ease-in;
      -moz-transition: left 0.2s ease-in;
      -o-transition: left 0.2s ease-in;
      transition: left 0.2s ease-in;
    }

    .nav-link {
      text-align: center;
      font-size: 1.3em;
      font-weight: 600;
      color: theme-color("app-light");
    }
  }

  #navbar-collapsible > .navbar-nav > {
    .navbar-nav-header {
      height: 15vh;
      padding: 20px;
      background-color: theme-color("app-primary");

      .close {
        margin-top: 0.25rem;
        color: theme-color("app-dark");
        opacity: 1;
        &:hover {
          color: theme-color("app-light");
        }
      }
    }

    .nav-link {
      min-width: 200px;
      padding-bottom: 2rem;
      background-color: theme-color("app-primary");
      &:hover {
        color: theme-color("app-primary");
        background-color: theme-color("app-light");
      }
      &:nth-of-type(3) {
        margin-bottom: 50px;
      }
    }
  }

  .session {
    flex-direction: column;
    align-items: center;

    .navbar-user-panel {
      text-align: center;

      .gravatar {
        border-radius: 35px;
        border: 3px solid theme-color("app-primary");
      }

      .navbar-username {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 1.5em;
      }
    }

    .navbar-user-links .nav-link-alt {
      height: 45px !important;
    }
  }

  #navbar-collapsible .session .navbar-user-panel {
    pointer-events: none;
  }
}

@include media-breakpoint-up(md) {
  #navbar-collapsible > .navbar-nav {
    width: 100%;

    .nav-link {
      font-size: 1.1em;
      font-weight: 600;
      &:not(.nav-link-alt) {
        color: theme-color("app-primary");
        &:hover {
          color: theme-color("app-highlight");
        }
      }
    }

    .session {
      .navbar-user-panel {
        display: flex;
        align-items: center;
        height: 40px;
        padding-right: 0.5rem;
        border-radius: 20px;
        color: theme-color("app-dark");
        background-color: theme-color("app-primary");
        cursor: pointer;
        &:hover {
          background-color: theme-color("app-highlight");
        }

        .gravatar {
          height: 40px;
          margin-right: 8px;
          border-radius: 20px;
          border: 3px solid theme-color("app-secondary");
        }

        .navbar-username {
          font-size: 1.1em;
          font-weight: 600;
        }
      }

      .navbar-user-links.logged-in {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        top: 50px;
        right: 0;
        padding: 10px 0;
        background-color: rgba(theme-color("app-dark"), 0.7);
        border-radius: 5px;
        border: 2px solid theme-color("app-secondary");
        box-shadow: 0 2px 7px 0 theme-color("app-shadow");
        &.show {
          visibility: show;
        }
        &.hide {
          visibility: hidden;
        }
      }
    }
  }
}
