.topbar {
  padding: 0.3125rem 0;
  background-color: theme-color("app-dark");

  .navbar-brand {
    padding: 0;
  }
}

@include media-breakpoint-down(xs) {
  .topbar .navbar-brand {
    img {
      width: 30px;
      object-fit: cover;
      object-position: left;
    }
  }
}
