.topbar {
  padding: 0.3125rem 0;
  background-color: theme-color("app-dark");

  .navbar-brand {
    padding: 0;
  }

  .sidebar-toggler {
    display: flex;
    align-items: center;
    color: theme-color("app-primary");
    cursor: pointer;
    &:hover {
      color: theme-color("app-highlight");
    }

    .icon {
      font-size: 28px;
      height: 28px;
      line-height: 1em;
    }

    .label {
      margin-left: 5px;
      font-size: 18px;
    }
  }

  .session {
    margin-left: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .topbar {
    .navbar-brand {
      img {
        width: 30px;
        object-fit: cover;
        object-position: left;
      }
    }

    .sidebar-toggler .label {
      display: none;
    }
  }
}
