@import "/common/globals";

.form-header {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.form-group {
  label {
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .form-control {
    color: theme-color("app-light");
    background-color: theme-color('app-secondary');
    border-color: theme-color("app-dark");
    &:focus {
      box-shadow: 0 0 0 0.1rem theme-color("app-primary");
    }
  }

  .tooltip-anchor {
    margin: 0 3px;
    visibility: hidden;

    svg {
      width: 0.75em;
      color: theme-color("app-primary");
      &:hover {
        color: theme-color("app-highlight");
      }
    }
  }

  .field_with_errors + .tooltip-anchor {
    visibility: visible !important;
  }

  .field_with_errors {
    display: inline;

    span.message {
      margin-left: 15px;
      text-transform: lowercase;
      color: $red
    }

    input {
      border-color: $red;
    }

    ~ .justify-content-between {
      border: 1px solid $red;
      border-radius: dimension("input-border-radius");
    }
  }
}

.registration, .login {
  width: 100%;
  max-width: 350px;
  margin: 40px 0;
  background-color: lighten(theme-color("app-secondary"), 3%);

  .btn-app-primary {
    width: 100%;
    margin-top: 20px;
  }

  #user_dob {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
  }

  #user_dob_day {
    width: 20vw;
    max-width: 90px;
  }

  #user_dob_month {
    width: 40vw;
    max-width: 140px;
    margin: 0 5px;
  }

  #user_dob_year {
    width: 25vw;
    max-width: 110px;
  }
}

@include media-breakpoint-up(sm) {
  .registration, .login {
    max-width: 420px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 theme-color("app-shadow");
  }
}
