/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * SPACING
 */

$spacer: 1rem;
$spacers: (
    6: ($spacer * 5),
    7: ($spacer * 7),
    8: ($spacer * 10)
);


/*
 * COLORS
 */

$tyrian-purple: #4f003be3;
$cadillac: #824172de;
$black-pearl: #0B0C10;
$midnight-express: #1F2833;
$blue-chill: #45A29E;
$baby-blue: #66FCF1;
$iron: #C5C6C7;

// Add colors to bootstrap theme-colors
$theme-colors: (
    "app-primary": $black-pearl,
    "app-secondary": $midnight-express,
    "app-accent": $blue-chill,
    "app-highlight": $baby-blue,
    "app-default": $iron
);


/*
 * FONTS
 */

@font-face {
    font-family: 'Signika';
    src: url('Signika-VariableFont_wght.ttf');
}

// Font Awesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";


@import "bootstrap/scss/bootstrap";
@import "navbar";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: theme-color("app-default");
    background-color: theme-color("app-secondary");
    font-family: 'Signika';
}
