// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "/common/globals";

.registration {
    background-color: lighten(theme-color("app-secondary"), 3%);

    #age-limit-tooltip, #password-tooltip {
        margin: 0 3px;

        svg {
            width: 0.75em;
            color: theme-color("app-primary");
            &:hover {
                color: theme-color("app-highlight");
            }
        }
    }

    #user_dob_day {
        width: 70px;
    }

    #user_dob_month {
        width: 140px;
    }

    #user_dob_year {
        width: 100px;
    }
}

@include media-breakpoint-only(xs) {
    .container {
        position: relative
    }

    .registration {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        > div {
            width: 320px;
            margin: 10% auto auto auto;

            h4 {
                margin-bottom: 30px;
            }

            .btn-app-primary {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}
