<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Chatroom</a>
  <button
    class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbar-collapsible" aria-controls="navbar-collapsible"
    aria-expanded="false" aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapsible">
    <div class="navbar-nav">
      <div class="d-sm-none navbar-nav-header">
        <a class="navbar-brand" href="/">Brand Placement</a>
        <button
          type="button" class="close" data-toggle="collapse" data-target="#navbar-collapsible"
          aria-controls="navbar-collapsible" aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <a class="nav-link mr-sm-3 mr-md-5 active" href="#">Home</a>
      <a class="nav-link mr-sm-3 mr-md-5" href="#">Preferences</a>
      <a class="nav-link mr-sm-3 mr-md-5" href="#">About</a>
      <a id="login-btn" class="nav-link" href="#">Login</a>
    </div>
  </div>
</nav>
