<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ml-3 mx-md-0" href="/">Chatroom</a>
    <button
      class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#navbar-collapsible" aria-controls="navbar-collapsible"
      aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapsible">
      <div class="navbar-nav">
        <div class="d-md-none navbar-nav-header">
          <a class="navbar-brand" href="/">Brand Placement</a>
          <button
            type="button" class="close" data-toggle="collapse" data-target="#navbar-collapsible"
            aria-controls="navbar-collapsible" aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <a class="nav-link mx-5 mx-sm-8 ml-md-auto mr-md-3 mr-lg-5" href="#">About</a>
        <a class="nav-link mx-5 mx-sm-8 mx-md-3" href="#">Sample Link</a>
        <a class="nav-link mx-5 mx-sm-8 mr-md-auto ml-md-3 ml-lg-5" href="#">Preferences</a>
        <a id="login-btn" class="nav-link" href="#">Login</a>
      </div>
    </div>
  </div>
</nav>
